pandas==2.1.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.3.2
statsmodels==0.14.2
requests
websocket-client
fastapi
uvicorn
jupyter
pytest
streamlit
plotly
numpy
nbformat
maturin
pyo3
tokio
tokio-tungstenite
tungstenite
